header
{
    display: block;
    width: 90%;
    margin: 0em auto;
    padding: 1em;
    text-transform: uppercase;
    overflow: auto;
}

header h1
{
    float: left;
}

header nav
{
    float: left;
}

.navigation-list
{
    margin: 0em;
    padding: 0em;
    list-style: none;
    text-align: center;  
}

.navigation-list li
{
    display: inline-block;
    letter-spacing: 0.10em;
    padding: 0em 0.25em;
}  